# The PrimeUI license key.
#
# PrimeReact 11 is PrimeTek's commercial PrimeUI rather than the MIT of version 10. It verifies a key when
# its provider mounts - unconditionally, whatever the styling - and without one it logs a warning and shows
# an "Invalid PrimeUI License" banner in development and production alike.
#
# Copy this file to `.env` and fill in the key. `.env` is git-ignored; never commit a key.
# The free Community tier and its eligibility terms: https://primeui.dev/licenses/community
CHRONICLE_PRIMEUI_LICENSE=
