# The PrimeUI license key.
#
# PrimeReact 11 is PrimeTek's commercial PrimeUI rather than the MIT of version 10. It verifies a key when
# its provider mounts - unconditionally, whatever the styling - and without one it logs a warning and shows
# an "Invalid PrimeUI License" banner in development and production alike.
#
# Vite reads the process environment as well as `.env` files, so either works:
#   - export PRIMEUI_LICENSE=... from a shell profile, and it serves every Cratis application on the machine
#   - or copy this file to `.env` and fill in the key here, for a per-repository value
# `.env` is git-ignored; never commit a key. CI supplies the same name from the PRIMEUI_LICENSE secret.
# The free Community tier and its eligibility terms: https://primeui.dev/licenses/community
PRIMEUI_LICENSE=
