<!-- Copyright (c) Cratis.  All Rights Reserved.  Licensed under the MIT License. See LICENSE file in the project root for full license information. -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>

<body class="ms-Fabric">
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>