$ms-color-themePrimary: #007bff;
$ms-color-themeLighterAlt: #00050a;
$ms-color-themeLighter: #001429;
$ms-color-themeLight: #00254d;
$ms-color-themeTertiary: #004a99;
$ms-color-themeSecondary: #006ce0;
$ms-color-themeDarkAlt: #1988ff;
$ms-color-themeDark: #3d9bff;
$ms-color-themeDarker: #70b5ff;
$ms-color-neutralLighterAlt: #1f2b32;
$ms-color-neutralLighter: #1f2a31;
$ms-color-neutralLight: #1d282f;
$ms-color-neutralQuaternaryAlt: #1b262c;
$ms-color-neutralQuaternary: #1a242a;
$ms-color-neutralTertiaryAlt: #192328;
$ms-color-neutralTertiary: #e1e3e4;
$ms-color-neutralSecondary: #e6e8e8;
$ms-color-neutralPrimaryAlt: #ebeced;
$ms-color-neutralPrimary: #d1d4d5;
$ms-color-neutralDark: #f4f5f6;
$ms-color-black: #fafafa;
$ms-color-white: #202c33;
