@import url(./lara-light-blue/theme.css) layer(theme);

@layer theme {
    :root {
        --cratis-sidebar-namespace-bg: var(--shade500);
        --cratis-sidebar-namespace-textColor: var(--shade000);
        --cratis-sidebar-bg: var(--shade800);
        --cratis-sidebar-textColor: var(--shade000);
        --cratis-sidebar-menuitem-active-bg: var(--surface-c);
        --cratis-sidebar-menuitem-active-textColor: var(--text-color-secondary);
        --cratis-topbar-bg: var(--surface-a);
        --cratis-layout-border-color: var(--surface-border);
    }
}
