.layoutContainer {

}

header {
    height: var(--topbar-height);
    top: 0;
    left:0;
    position:fixed;
    background-color: var(--surface-0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    right: 0;
    margin-left: var(--sidebar-width);
    transition: margin-left .3s;
}
.sidebarClosed header {
    margin-left: 0;
}

aside {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--surface-a);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: left .3s;
}

.sidebarClosed aside {
    left: calc(-1 * var(--sidebar-width));
}

main {

    height: calc(100vh - var(--topbar-height) - var(--footer-height));
    margin-top: var(--topbar-height);
    padding-left: var(--sidebar-width);
    margin-bottom: var(--footer-height);
    overflow: auto;
    transition: padding-left .3s;
}

.sidebarClosed main {
    padding-left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--surface-0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

