header {
    height: var(--topbar-height);
    top: 0;
    left: var(--sidebar-width);
    position: fixed;
    background-color: var(--cratis-topbar-bg);
    border-bottom: 1px solid var(--cratis-layout-border-color);
    right: 0;
    transition: left 0.3s;
}

.sidebarClosed header,
.sidebarHidden header {
    left: 0;
}

aside {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cratis-sidebar-bg);
    color: var(--cratis-sidebar-textColor);
    transition: left 0.3s;
    box-shadow: var(--cratis-layout-border-color) -1px 0 0 0 inset;
}

.sidebarClosed aside {
    left: calc(-1 * var(--sidebar-width));
}

main {
    height: calc(100vh - var(--topbar-height) - var(--footer-height));
    margin-top: var(--topbar-height);
    padding-left: var(--sidebar-width);
    margin-bottom: var(--footer-height);
    overflow: auto;
    transition: padding-left 0.3s;
    color: var(--surface-900);
}

.sidebarClosed main,
.sidebarHidden main {
    padding-left: 0;
}

footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--cratis-surface-a);
}
