.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--surface-0);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 2px solid var(--surface-border);
    background-color: var(--surface-0);
    overflow-x: hidden;
    padding-top: 20px;
}

.persona {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
