@import "tailwindcss";

body {
    background-color: #1e293b !important;
}

.storybook-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--surface-ground);
}
