.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: var(--topbar-height);
    background-color: var(--surface-0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}