name: .NET Build & Integration

env:
  DOTNET_VERSION: "9.0.x"
  DOTNET_CACHE: "dotnet-cache-${{ github.sha }}"

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "Source/**"
      - "Integration/**"
      - "!Source/Node/**"
      - "!Source/Workbench/**"
  pull_request:
    branches:
      - "**"
    paths:
      - "Source/**"
      - "Integration/**"
      - "!Source/Node/**"
      - "!Source/Workbench/**"

jobs:
  dotnet-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .Net
        uses: actions/setup-dotnet@v4
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          dotnet-version: |
            ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-x64-output
        with:
          path: ./**/bin
          key: ${{ env.DOTNET_CACHE }}

      - name: Restore
        run: dotnet restore --locked-mode

      - name: Build
        run: dotnet build --no-restore --configuration Release --framework net9.0

  specs:
    runs-on: ubuntu-latest
    needs: [dotnet-build]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .Net
        uses: actions/setup-dotnet@v4
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          dotnet-version: |
            ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-x64-output
        with:
          path: ./**/bin
          key: ${{ env.DOTNET_CACHE }}

      - name: Run tests
        run: dotnet test --no-build --configuration Release --framework net9.0 --settings specs.runsettings

  integration-specs:
    runs-on: ubuntu-latest
    needs: [dotnet-build]
    strategy:
      matrix:
        namespace:
          - 'Orleans.InProcess.for_EventSequence'
          - 'Orleans.InProcess.for_JobsManager'
          - 'Orleans.InProcess.for_Reactors'
          - 'Orleans.InProcess.for_Reducers'
          - 'Orleans.InProcess.Projections'
          - 'Orleans.InProcess.AggregateRoots'
    env:
      NAMESPACE: Cratis.Chronicle.Integration.${{ matrix.namespace }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .Net
        uses: actions/setup-dotnet@v4
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          dotnet-version: |
            ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-x64-output
        with:
          path: ./**/bin
          key: ${{ env.DOTNET_CACHE }}

      - name: Run integration tests for .Net 9
        run: dotnet test --no-build --filter FullyQualifiedName~${{ env.NAMESPACE }} --logger "console;verbosity=normal" --configuration Release --framework net9.0
