name: Publish

env:
  NUGET_OUTPUT: ./Artifacts/NuGet
  DOTNET_VERSION: '6.0.400'

on:
  pull_request:
    types: [closed]

jobs:
  dotnet-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .Net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-output
        with:
          path: |
            ./Source/**/obj
            ./Source/**/bin
            ./Source/Workbench/API
          key: dotnet-cache

      - name: Build
        run: dotnet build --configuration Release

  dotnet-x64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .Net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-x64-output
        with:
          path: ./Source/Kernel/Server/out/x64
          key: dotnet-x64-cache

      - name: Build x64 Kernel - self contained, ready to run
        working-directory: ./Source/Kernel/Server
        run: dotnet publish -c Release -r linux-x64 -p:PublishReadyToRun=true --self-contained -o out/x64

  dotnet-arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .Net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-arm64-output
        with:
          path: ./Source/Kernel/Server/out/arm64
          key: dotnet-arm64-cache

      - name: Build arm64 Kernel - self contained, ready to run
        working-directory: ./Source/Kernel/Server
        run: dotnet publish -c Release -r linux-arm64 -p:PublishReadyToRun=true --self-contained -o out/arm64

  workbench:
    runs-on: ubuntu-latest
    needs: [dotnet-build]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v3
        id: dotnet-output
        with:
          path: |
            ./Source/**/obj
            ./Source/**/bin
            ./Source/Workbench/API
          key: dotnet-cache

      - uses: actions/cache@v3
        id: workbench-output
        with:
          path: ./Source/Workbench/wwwroot
          key: workbench-cache

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Setup node v16
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: "https://registry.npmjs.org"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Yarn install
        run: yarn

      - name: Build JS/TS
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          yarn build

      - name: Build Workbench
        working-directory: ./Source/Workbench
        run: |
          yarn build

  release:
    runs-on: ubuntu-latest
    needs: [dotnet-x64, dotnet-arm64, workbench]
    outputs:
      version: ${{ steps.release.outputs.version }}
      publish: ${{ steps.release.outputs.should-publish }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Release
        id: release
        uses: cratis/release-action@v1
        with:
          user-name: 'Aksio Build'
          user-email: 'build@aksio.no'

  publish-packages:
    if: needs.release.outputs.publish == 'true'
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .Net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - uses: actions/cache@v3
        id: dotnet-output
        with:
          path: |
            ./Source/**/obj
            ./Source/**/bin
            ./Source/Workbench/API
          key: dotnet-cache

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Yarn install
        run: yarn

      - name: Remove any existing artifacts
        run: rm -rf ${{ env.NUGET_OUTPUT }}

      - name: Create NuGet packages
        run: dotnet pack --no-build --configuration Release -o ${{ env.NUGET_OUTPUT }} -p:PackageVersion=${{ needs.release.outputs.version }}

      - name: Push NuGet packages
        run: dotnet nuget push --skip-duplicate '${{ env.NUGET_OUTPUT }}/*.nupkg' --timeout 900 --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

      - name: Publish NPM packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          yarn publish-version ${{ needs.release.outputs.version }}

      - name: Git reset (package.json files changed)
        run: |
          git reset --hard

  publish-docker-production:
    if: needs.release.outputs.publish == 'true'
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v3
        id: dotnet-x64-output
        with:
          path: ./Source/Kernel/Server/out/x64
          key: dotnet-x64-cache

      - uses: actions/cache@v3
        id: workbench-output
        with:
          path: ./Source/Workbench/wwwroot
          key: workbench-cache

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Production Docker Image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Docker/Production/Dockerfile
          push: true
          tags: |
            aksioinsurtech/cratis:${{ needs.release.outputs.version }}
            aksioinsurtech/cratis:latest
          build-args: |
            VERSION=${{ needs.release.outputs.version }}

  publish-docker-workbench:
    if: needs.release.outputs.publish == 'true'
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v3
        id: workbench-output
        with:
          path: ./Source/Workbench/wwwroot
          key: workbench-cache

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Workbench Image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Docker/Workbench/Dockerfile
          push: true
          tags: |
            aksioinsurtech/cratis:${{ needs.release.outputs.version }}-workbench
            aksioinsurtech/cratis:latest-workbench
          build-args: |
            VERSION=${{ needs.release.outputs.version }}

  publish-docker-development:
    if: needs.release.outputs.publish == 'true'
    runs-on: ubuntu-latest
    needs: [release]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v3
        id: dotnet-arm64-output
        with:
          path: ./Source/Kernel/Server/out/arm64
          key: dotnet-arm64-cache

      - uses: actions/cache@v3
        id: workbench-output
        with:
          path: ./Source/Workbench/wwwroot
          key: workbench-cache

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Development Docker Image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Docker/Development/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            aksioinsurtech/cratis:${{ needs.release.outputs.version }}-development
            aksioinsurtech/cratis:latest-development
          build-args: |
            VERSION=${{ needs.release.outputs.version }}
