name: Workbench Build

on:
  push:
    branches:
      - "main"
    paths:
      - "Source/Workbench/**"
  pull_request:
    branches:
      - "**"
    paths:
      - "Source/Workbench/**"

jobs:
  node-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: |
            .yarn/cache
            **/node_modules
            **/.eslintcache
            **/yarn.lock
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/package.json') }}

      - name: Yarn install
        working-directory: ./Source/Workbench
        run: yarn install

      - name: Build JS/TS
        working-directory: ./Source/Workbench
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          yarn ci
